@import './reset.scss';
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: $base_menu_background;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background: #ccc;
  border-radius: 5px;
}